# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Generated
**/*.g.dart
**/*.freezed.dart
**/*.mocks.dart

# OS
.DS_Store

# Coverage
coverage/

# Melos
.melos_tool/
