apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  # Finalizer ensures resources are deleted when Application is removed from Git
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/tnargwoxow/homelab-apps.git
    targetRevision: HEAD
    path: argocd
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  

  syncPolicy:
    automated:
      prune: true
      selfHeal: true