# Demo-ready ArgoCD Helm values
# Use only for testing (not secure!)
argo-cd:
  global:
    domain: argocd.192.168.0.77.sslip.io
  server:
    insecure: true #while I have https not working properly
    extraArgs:
      - --insecure
    ingress:
      enabled: false
      ingressClassName: nginx
      hosts:
        - argocd.192.168.0.77.sslip.io
      paths:
        - /
      pathType: Prefix
      tls: []
      annotations:
        # nginx.ingress.kubernetes.io/ssl-passthrough: "false"
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "false"

    service:
      type: LoadBalancer

  configs:
    cm:
      admin.enabled: "true"
      accounts.anonymous.enabled: "true"
      accounts.anonymous.capabilities: "read-only"
      url: "https://argocd.192.168.0.77.sslip.io:30443"

  # Redis must be enabled and reachable for repo-server to start correctly
  redis:
    enabled: true
    image:
      repository: redis
      tag: "7.2"
    auth:
      enabled: false # disable password for quick test (fixes missing secret crash)
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

  repoServer:
    # ensures it runs as a Deployment, not a job
    replicas: 1
    autoscaling:
      enabled: false
    serviceAccount:
      create: true
    # these lines make sure it doesn't exit immediately
    extraArgs:
      - --redis
      - "argocd-redis:6379"
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  controller:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi


  dex:
    enabled: true
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

  server:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

  applicationSet:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi

  notifications:
    resources:
      requests:
        cpu: 25m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi
